# Fill in the locations of these programs
# This is essential for the pipeline to work

export GATK=~/apps/gatk-4.0.1.2/gatk # Fill your gatk location here
export BCFTOOLS=
export SAMTOOLS
export ANNOVAR=
export HTSLIB=

# Optional locations. These may help with some problems i.e. default python2 interperenter
#export PYTHON3=
#export JAVA=
#export PERL=


# Reference files, the ones that are not commented are essential e.g. ref genome
export REFERENCE_GENOME=
export GNOMAD=
export INTERVALS=
# export COSMIC=
# export DBSNP=
# export HAPMAP=



# String values useful for the script
mutect="_mutect_output"
filt="_filtered"
annot="_annot"
func="_functional"
re=".recode"
strand="_strandedness"
vcf=".vcf"
gz=".gz"
fisher="_fisher"
df="_df"
fix="_fixed"
ct="_contamination.table"
pt="_pileups.table"
pass="_passed"
anno_out=".hg38_multianno.vcf"
annot_dir="annot/"
cont_dir="contamination/"
mutect_dir="Mutect2_output/"
func_dir="functional/"
filt_dir="filtered/"
annovar_dir="annovar/"
